USE [master]
GO
/****** Object:  Database [PruebaSD]    Script Date: 27/09/2021 20:25:18 ******/
CREATE DATABASE [PruebaSD] ON  PRIMARY 
( NAME = N'PruebaSD', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\PruebaSD.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PruebaSD_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\PruebaSD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaSD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaSD]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/09/2021 20:25:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[usuID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[usuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([usuID], [nombre], [apellido]) VALUES (CAST(1 AS Numeric(18, 0)), N'Jugador', N'#0001')
INSERT [dbo].[Usuario] ([usuID], [nombre], [apellido]) VALUES (CAST(2 AS Numeric(18, 0)), N'Jugador', N'#0002')
INSERT [dbo].[Usuario] ([usuID], [nombre], [apellido]) VALUES (CAST(3 AS Numeric(18, 0)), N'Jugador', N'#0003')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
USE [master]
GO
